{
  "extends": [ "apostrophe" ],
  "rules": {
    "no-var": 2
  },
  "overrides": [
    {
      "files": [
        "modules/@apostrophecms/*/ui/src/*.js",
        "ui/src/*.js"
      ],
      "globals": {
        "apos": "readonly"
      }
    }
  ]
}