{# ids must be unique doc-wide #}
{% set id = apos.util.generateId() %}
{% set widget = data.widget %}
{% set prependIfPrefix = apos.modules['@apostrophecms/form'].prependIfPrefix %}
{% set style = data.widget.style or "checkboxes" %}
{% import "fragments/utility.html" as utils with context %}
{% import "macros.html" as macros with context %}

<fieldset
  data-apos-forms-checkboxes
  {% if style == 'dropdown' %}data-apos-form-dropdown{% endif %}
  class="apos-forms-fieldset apos-forms-checkboxes--{{ style }} {{ prependIfPrefix('__fieldset') }}"
>
  {% if style == 'checkboxes' %}
    {{ macros.checkboxStyle() }}
  {% else %}
    {{ macros.dropdownStyle() }}
  {% endif %}
  <p data-apos-input-message="{{ widget.fieldName}}" hidden></p>
</fieldset>
