{% set prependIfPrefix = apos.modules['@apostrophecms/form'].prependIfPrefix %}

<div data-apos-form-stepper class="apos-form-stepper {{ prependIfPrefix('__stepper') }}">
  {% for step in data.widget.steps %}
    <fieldset
      class="apos-form-step {{ prependIfPrefix('__step') }} {{ 'active' if loop.index == 1 }}"
      data-index="{{ loop.index }}"
      data-submit-label="{{ step.submitLabel }}"
    >
      <legend>{{ step.label }}</legend>
      {% area step, 'contents' %}
      <button type="button" class="apos-form-step-previous">Previous</button>
      <button type="button" class="apos-form-step-next">{{ step.submitLabel }}</button>
    </fieldset>
  {% endfor %}
</div>
